@using UmbracoDev.Controllers.ForgottenPassword
@inherits PageTemplate<UmbracoDev.Controllers.ForgottenPassword.ForgottenPasswordPageModel>

<div class="container-fluid">
    <div class="row no-gutter h-100">
        <div class="col-12 bg-light">
            <div class="login d-flex align-items-center py-5 h-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h1 class="display-4">@Model.Content.Name</h1>

                            @if (Model.IsResettingPassword)
                            {
                                @Html.Partial("~/Views/Partials/ForgottenPassword/ResetForm.cshtml", new ResetPasswordModel{ MemberId = Model.MemberId, Token = Model.Token })
                            }
                            else if (TempData["ResetPasswordSuccess"] != null && (bool)TempData["ResetPasswordSuccess"])
                            {
                                @Model.Content.ResetRequestSuccessText
                            }
                            else
                            {
                                <div class="text-muted mb-4">@Model.Content.AdditionalText</div>
                                @Html.Partial("~/Views/Partials/ForgottenPassword/ResetRequestForm.cshtml")
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>