@using UmbracoDev.Controllers.ForgottenPassword
@model UmbracoDev.Controllers.ForgottenPassword.ResetPasswordModel

@using (Html.BeginUmbracoForm<ForgottenPasswordSurfaceController>("ResetPassword", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "form-control rounded-pill border-0 shadow-sm px-4" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(x => x.ConfirmPassword)
        @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control rounded-pill border-0 shadow-sm px-4" })
    </div>

    @Html.HiddenFor(x => x.MemberId)
    @Html.HiddenFor(x => x.Token)

    <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Reset Password</button>
}